#grid {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    gap: 10px;
}

#resetButton {
    background-color: white;
    color: black;
    border: 1px solid black;
    align-items: center;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    border: 1px solid rgb(141, 153, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(141, 153, 174);
    font-size: 50px;
    font-family: sans-serif;
}

body {
    text-align: center;
    font-family: sans-serif;
    color: rgb(141, 153, 174);
    background-color: rgb(237, 242, 244);
}

/* 
Color palate
2B2D42
8D99AE
EDF2F4
EF233C
D90429 
*/